.card{
    height: 150px;
    width: 100px;
    margin-top: 10px;
}

.container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    
}

h1,h5{
    text-align: center;
}

.back-card{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.card-content{
    position: relative;
    background: blue;
    transform-style: flat;
    transition: transform 3s;
  
}
.card:hover .card-content{
    transform: rotateY(.25turn);
}

.front-card{
    background: green;
    transform: rotateY(.25turn);
}